<div class="container m-3">

  <h1 class="">Cocktails</h1>
  <%= link_to "Add Cocktail",  new_cocktail_path %>

    <% @cocktails.each do |cocktail| %>
    <div class="d-flex">
      <div class="card">
        <%= image_tag "#{cocktail.picture}", width: 200, height: 200 %>
        <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %>
        <%= link_to "Delete", cocktail_path(cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>


    </div>
</div>
