.navbar-lewagon {
  justify-content: space-between;
  background: #f0134d;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  heigh: 50px;
  border-radius: 50%
}

.nav-item {
  text-decoration: none;
}
